<h1><%=@car.year%> <%=@car.make%> <%=@car.model%></h1>
<a href="/cars/<%=@car.id%>/edit">Edit Car</a>
<form method='POST' action='/cars/<%=@car.id%>'>
<input type="hidden" name='_method' value="DELETE">
<input type="submit" value="Delete Car" id="submit">
</form>


